<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">iGram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'indexPage' %}">Home <span class="sr-only">(current)</span></a>
        </li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" style="color: aliceblue" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a>
                      <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown" >
                          <a class="dropdown-item" href="{% url 'new-project' %}">Create Post</a>
                          <a class="dropdown-item" href="{% url 'Profile' %}">Profile</a>
                          <a class="dropdown-item" href="/accounts/password/change">Change Password</a>
                          <div class="dropdown-divider"></div>
                          <a  class="dropdown-item" href="/logout">Logout</a>
                        </div>
              </li>
            {% else %}
            <li>
              <a class='btn btn-default' style="color: aliceblue" href="/accounts/login">Login</a>
            </li>

            {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>