{%extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">{{project.project}}</h1>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <img src="{{project.image.url}}" class="img-responsive" style="width: 70%;display: block;border-radius:70%;margin-left: auto;
            margin-right: auto;" alt="">

        </div>
        <div class="col-md-3">
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        {% autoescape on %}
        {{image.post| safe}}
        {% endautoescape %}

    </div>


    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 text-center">
                <p><b>description:</b><br>{{project.description}}</p>
                <a href="/project-vote/{{project.id}}"><i class="fa fa-heart" style="font-size: 40px;"></a></i>
                
                
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <br><br>
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <hr>
        <b>likes: {{project.userinterface}} 
        <hr>
    </div>

    <div class="col-md-3">

    </div>
    <br><br>
    <div class="progress">
            likes: <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="10"
            style="width:40%">
                
                
                </div>
                </div>
                
                
                </div>
                
                {% endblock %}